# Application url
NEXT_PUBLIC_APP_URI=http://localhost:3000

# Only needed for Inngest dev mode
INNGEST_DEV=1
# Inngest production keys (only required in production; leave commented for local dev)
# INNGEST_EVENT_KEY=
# INNGEST_SIGNING_KEY=

# Neon postgres sql (use sslmode=verify-full to avoid pg-connection-string deprecation warning)
DATABASE_URL=

# Openai api key
OPENAI_API_KEY=

# Tavily api key to do web search
TAVILY_API_KEY=

# Clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# E2B sandbox key and template
E2B_API_KEY=
# This one template for only development
# It's a public template for not getting any errors during dev and testing
VIBE_TEMPLATE=tests-default-team-30d4/vibe-nextjs-dev
# Only for production it's a private template
# VIBE_TEMPLATE=tests-default-team-30d4/vibe-nextjs-prod

# Backblaze B2 bucket to storing objects
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_REGION=us-east-005
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
